.home {
    width: 100%;
    height: 100vh;
}

.home {
    color: #555;
    background-color: rgba(255, 247, 212, 0.35);
    position: relative;
    overflow: hidden;
}

.home:before {
    content:"";
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background: url("../../img/home_image.jpeg")no-repeat center bottom/cover;
    position: absolute;
    z-index: -1;
    transition: transform 7s linear; 
    animation: scaleAnimation 10s infinite linear; 
}

@keyframes scaleAnimation {
    0% {
      transform: scale(1); 
    }
    50% {
      transform: scale(1.03); 
    }
    100% {
      transform: scale(1); 
    }
  }

.home-content {
    width: 55%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    margin: auto;
    padding: 10px;
}

.home p {
    color:#444;
    text-align: center;
    margin-bottom: 30px;
    font-size: 1.6rem;
    line-height: 2.4rem;
    text-shadow: 1px 1px 3px rgba(255, 255, 255, 0.5);
}

.home-button {
    width: 40%;
    line-height: 32px;
    /* background-color: rgba(255, 242, 196, 0.9); */
    background-color: #b52c57e2;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
    padding: 7px;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 0.3rem 0.5rem rgba(0,0,0,0.15),inset 0 -1px 0 rgba(255,255,255,0.15);
    transition-duration: 0.3s;
    border: 1px solid #b52c57e2;
}

.home-button a {
    font-family: "Righteous", sans-serif;
    font-size: 1.3rem;
    display: block;
    height: 30px;
    text-decoration: none;
    color: #e7e7e7;
}

.home-button:hover  {
    background-color: white;
}

.home-button:hover a {
    color: #b52c58;
}
.Typewriter__wrapper{
    font-family: "Righteous", sans-serif;
    text-align: center;
}

.Typewriter {
    text-align: center;
}

h1.home-title {
    font-size: 3rem;
    margin-bottom: 20px;
    color:#444;
    text-shadow: 2px 2px 2px rgba(255, 228, 196, 0.5);
    font-weight: bolder;
}

@media (max-width: 1240px) {

    h1.home-title {
        margin-bottom: 30px;
        font-size: 2.5rem;
    }
    
    .home-content {
        width: 70%;
    }

    .home p {
        margin-bottom: 50px;
        font-size: 1.4rem;
        line-height: 2rem;
    }


}

@media (max-width: 767px) {
    .home { 
        color: #333;
    }

    h1.home-title {
        margin-bottom: 30px;
        font-size: 2.2rem;
    }

    .home-content {
        width: 90%;
    }

    .home p {
        margin-bottom: 30px;
        font-size: 1.2rem;
        line-height: 1.8rem;
    }

    .home-button {
        width: 80%;
    }

    .home-button a {
        font-size: 1.1rem;

    }

    .home:before {
        background-position: 58%;
    }
}

