.mobile-view-header {
    z-index: 2;
    top: 0;
    background-color: #b52c58;
    width: 100%;
    height: 50px;
    color: aliceblue;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.15),inset 0 -1px 0 rgba(255,255,255,0.15);
    transition: 0.3s;
}
 
.mobile-view-header p{
    color: rgb(255, 255, 255);
    opacity: 0.9;
    display: inline-block;
    padding-left: 10px;
    padding-top: 10px;
    cursor: pointer;
    width: 50px;
    transition: 0.3s;
}

.mobile-view-header img {
    display: inline-block;
    position: fixed;
    right: 20px;
    top: 8px;
}

.mobile-nav.nav-item a {
    opacity: 1;
}

.mobile-view-header p:hover {
    opacity: 1;
}

@media (min-width: 768px) {
.responsive-mobile-view {
        display: none;
    }

}

@media (max-width: 767px) {

.responsive-mobile-view {
        width: 100%;
        position: fixed;
        top: 0;
        z-index: 1;
    }

.mobile-nav {
    z-index: 4;
    height: auto;
    width: 100%;
    display: flex;
    background-color: #b52c57e9;
    justify-content: center;
    text-align: center;
}

.mobile-nav ul li {
    color: rgb(255, 255, 255);
    cursor: pointer;
}

}