.return-content {
    height: 100vh;
    width: 100%;
    display: flex;
    color: #333;
    background-color: rgba(252, 190, 222, 0.35);
    padding-top: 60px;
    overflow: scroll;
    align-items: center;
    justify-content: center;
    }

    .return-content::before {
        content:"";
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
        background: url("../../img/background2.jpeg") no-repeat center bottom/cover;
        position: absolute;
        z-index: -1;
        transition: transform 7s linear; 
        animation: scaleAnimation 10s infinite linear; 
    }