*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, sans-serif;
}

.scroll-to-top {
  width: 35px!important;
  height: 35px!important;
  right: 15px!important;
  bottom: 60px!important;
  opacity: 0.7;
  transition: 0.3;
  position: fixed;
  display: flex; 
  justify-content: center; 
  align-items: center;
  cursor: pointer;
}

.scroll-to-top:hover {
  opacity: 1;
}


@media (max-width: 767px) {
  
  .gallery-section {overflow: hidden;}

  .section-title h2 {
    padding-top: 30px;
  }


  .scroll-to-top {
    bottom: 15px!important;
    opacity: 0.7;
    padding: 0px;
  }  

  .scroll-to-top a, .scroll-to-top svg {
    width: 20px !important;
    height: 20px !important;
    line-height: 20px !important;
    padding: 0px;
  }
  
}

.btn-danger {
  background-color: #b52c58;
  border-color: #b52c58;
}

.btn-danger:hover {
  background-color: #9c3153;
  border-color: #9c3153;
}

.btn:disabled {
  background-color: #b52c58;
  border-color: #b52c58;
}

.btn:active {
  background-color: #57182d!important;
} 

.btn {
  font-family: "Righteous", sans-serif;
}